body{
    background-color: aqua;
}
#header ul{
    background-color: blanchedalmond;
}
#header li{
    text-decoration: none;
    color: green;
    display: block;
}
#header a:hover{
    font-size: 20px;
}